@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
}

@Layer base {
    html {
        @apply text-[16px];
        @apply bg-base-100;
        font-family: Poppins, sans-serif;
    }
}

@Layer components {
    .header {
        backdrop-filter: blur(5px);
        height: 80px;
        z-index: -2;

        /* background: rgba(19, 17, 22, 0.2); */
        @apply absolute w-screen top-0 bg-base-100 left-0;
    }

}



@Layer utilities {}

html {
    font-family: Poppins, sans-serif;
    @apply md:text-[16px] text-[14px];
}

h1 {
    /* font-size: 96px; */
    @apply text-3xl md:text-4xl font-semibold;
}

h2 {
    @apply text-2xl md:text-4xl font-semibold;
}

h3 {
    @apply text-xl md:text-3xl font-semibold;
}

h4 {
    @apply text-base md:text-lg font-semibold;
}

.container {
    @apply rounded-[10px] bg-base-200 border-[0.5px] border-content-primary/10 shadow-[0_2px_2px_rgb(0,0,0,0.2)] box-border;
    @apply drop-shadow-sm
}

.btn {
    @apply rounded-2xl py-2 px-3.5 lg:px-5 lg:py-3.5 font-medium normal-case text-center text-xs lg:text-sm border-[0.5px];
}

.btn:disabled {
    @apply opacity-50;
}

.btn-disabled {
    @apply opacity-50;
}

.btn-connected {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    @apply text-black bg-base-100;
}

.btn-primary {
    @apply text-primary-content font-medium;
}

.card {
    @apply rounded-[10px] z-0 bg-[#403945] hover:outline-1 hover:outline hover:outline-neutral hover:brightness-[1.15];
}

.card-compact {
    @apply rounded-[10px] z-0 bg-[#403945] hover:outline-1 hover:outline hover:outline-neutral hover:brightness-[1.15];
}

.card-body {
    @apply text-base text-content-primary;
}

.content p {
    @apply my-3;
}

.content ul {
    @apply my-3;
}

.input {
    @apply bg-base-50 w-full;
}

.input-primary {
    @apply border-neutral-focus focus:outline-neutral-focus border-[0.3px]
}

.selected-tab {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 2.79%, rgba(255, 255, 255, 0) 83.46%);
    backdrop-filter: blur(2px);
    @apply border-r-4 border-primary;
}

#search-input {
    background: url('/images/search.svg') no-repeat;
    background-size: 20px;
    background-position: 4%;
    @apply pl-10 bg-base-50 w-72;

}

.textarea {
    @apply bg-base-50 w-full min-w-full px-2 py-1 border-neutral-focus focus:outline-neutral-focus border-[0.3px];
}

.file-drop {
    @apply bg-base-50 w-full min-w-full px-2 py-1 border-neutral focus:outline-neutral-focus border-[1px] rounded-[8px] border-dashed outline-offset-2 hover:outline;
}

.range::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
}

.blur0 {
    position: absolute;
    width: 527px;
    height: 430px;
    left: 900px;
    top: -275px;

    background: radial-gradient(62.47% 65.01% at 64.05% 109.82%, rgba(163, 230, 53, 0.343) 0%, rgba(163, 230, 53, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    filter: blur(100px);
    z-index: -96;
    @apply md:block hidden
}

 /* .a-modal {
    padding-bottom: 0px;
    border-radius: 10px !important;
    border-color: #131116;
    @apply border-[0.1px];
}

.a-modal .ant-modal-content{
    background-color:#131116 !important;
    color: #FAFAFA !important;
    padding-bottom: 0px;
    border-radius: 10px;
    border-color: #131116;
    @apply border-[0.1px];
  }  */

/* modal's background */
.a-modal-bg {
    @apply bg-base-content/10;
}

.ant-modal-close-icon {
    @apply text-neutral-content;
}
.wallet-modal .ant-modal-content {
    @apply !w-[600px] !h-[400px] bg-base-200 text-black rounded-[20px] p-10;
    }


.vote-up:hover {
    stroke: #1E1B21 !important
}

.vote-down:hover {
    stroke: #1E1B21 !important
}

.vote-up path {
    stroke: #1E1B21 !important
}

.vote-up path {
    stroke: #1E1B21 !important
}

.quill {
    @apply w-full h-80;
}

.ql-toolbar {
    @apply bg-neutral border-[0.3px] border-neutral-focus rounded-t-lg;
}

.ql-container {
    @apply bg-base-50 border-[0.3px] border-neutral-focus rounded-b-lg;
}

.ql-formats {
    @apply bg-neutral;
}

.ql-editor {
    @apply text-lg
}

/* Hide arrows in number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.disable-link {
    pointer-events: none;
}


a {
    @apply hover:cursor-pointer
}

.description-display a {
    tab-size: 4;
    @apply underline hover:cursor-pointer text-blue-400 hover:text-blue-300
}

.description-display ol li {
    list-style: decimal;
    list-style-position: inside;
    display: list-item;
    margin-left: 1em;
    tab-size: 4;
    @apply mb-2
}

.description-display ul li {
    list-style: disc;
    list-style-position: inside;
    display: list-item;
    margin-left: 1em;
    tab-size: 4;
    @apply mb-2
}

.description-display h1, h2 {
    @apply text-3xl
}

blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
}